/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --first-color: hsl(232, 54%, 43%);
  --text-color: hsl(232, 8%, 35%);
  --white-color: hsl(232, 100%, 99%);
  --body-color: hsl(232, 45%, 90%);
  --container-color: hsl(232, 54%, 11%);
}

/*=============== INPUT PASSWORD ===============*/
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--body-color);
}

.input {
  position: relative;
  background-color: var(--container-color);
  padding: 1.35rem 1.25rem;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  column-gap: .75rem;
}

.input__lock, .input__icon {
  font-size: 1.25rem;
  z-index: 1;
}

.input__lock, .input__password {
  color: var(--white-color);
}

.input__icon {
  color: var(--first-color);
  cursor: pointer;
}

.input__password {
  background: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  z-index: 1;
}

.input__password::placeholder {
  color: var(--white-color);
}

.input__overlay {
  width: 32px;
  height: 32px;
  background-color: var(--white-color);
  position: absolute;
  right: .9rem;
  border-radius: 50%;
  z-index: 0;
  transition: .4s ease-in-out;
}

/* Transition effect */
.overlay-content {
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  right: 0;
}

.overlay-content ~ .input__lock {
  color: var(--container-color);
}

.overlay-content ~ .input__password,
.overlay-content ~ .input__password::placeholder {
  color: var(--text-color);
}
