/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*=============== VARIABLES CSS ===============*/
:root{
    /*========== Colors ==========*/
    --first-color: hsl(232, 54%, 43%);
    --text-color: hsl(232, 8%, 35%);
    --white-color: hsl(232, 100%, 99%);
    --body-color: hsl(232, 45%, 90%);
    --container-color: hsl(232, 54%, 11%);
}